<form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-h-[80vh] overflow-y-auto bg-neutral-100 rounded-lg border border-gray-500 p-5 m-3.5 space-y-4">

  <!-- Institution -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations.institutionLabel }}</label>
    <input
      type="text"
      formControlName="institution"
      [placeholder]="translations.institutionPlaceholder"
      class="bg-gray-200 h-8 p-2 rounded"
    />
    <div *ngIf="form.get('institution')?.invalid && form.get('institution')?.touched" class="text-red-500 text-sm">
      {{ translations.errors.required }}
    </div>
  </div>

  <!-- Qualification -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations.qualificationLabel }}</label>
    <select formControlName="qualification" class="bg-gray-200 h-8 px-2 rounded cursor-pointer">
      <option value="">{{ translations.qualificationSelect }}</option>
      <option *ngFor="let q of qualifications" [value]="q">{{ q }}</option>
    </select>
    <div *ngIf="form.get('qualification')?.invalid && form.get('qualification')?.touched" class="text-red-500 text-sm">
      {{ translations.errors.invalidQualification }}
    </div>
  </div>

  <!-- Name -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations.name }}</label>
    <input
      type="text"
      formControlName="name"
      placeholder= "e.g. Mathematical Sciences" 
      class="bg-gray-200 h-8 p-2 rounded"
    />
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-red-500 text-sm">
      {{ translations.errors.required }}
    </div>
  </div>

  <!-- Subjects -->
   <div class="flex flex-col">
    <label class="font-medium">Subjects</label>

    <div *ngIf="!checkSubjectCount().check && form.touched" class="text-red-500 text-sm">
      {{ translations.errors.required }} - {{ checkSubjectCount().count - subjects.length }}
    </div>

    <!-- Form -->
    <div *ngIf="showAddSubject" class="flex flex-col" [formGroup]="subjectForm">
      <input 
        type="text"
        formControlName="name"
        class="bg-gray-200 h-8 p-2 rounded"
        placeholder="e.g. Speech Technology"/>
      <div *ngIf="subjectForm.get('name')?.invalid && subjectForm.get('name')?.touched" class="text-red-500 text-sm">
        {{ translations.errors.required }}
      </div>
      <div class="flex flex-row m-2 gap-1.5 justify-center items-center">
        <input 
          type="range"
          formControlName="average"
          class="bg-gray-200 h-8 p-2 rounded w-2/3"
          placeholder="e.g. Speech Technology"/>
        <span class="text-sm text-gray-600 mt-1">{{ subjectForm.get('average')?.value }}%</span>
      </div>
      <div class="flex flex-row justify-center items-center">
        <button type="button" (click)="addSubject()" class="bg-amber-500 hover:bg-amber-300 rounded cursor-pointer w-2/3">
          Add
        </button>
      </div>
    </div>

    <!-- Display -->
     <div *ngIf="subjects.length > 0"
        class="flex flex-wrap rounded border-gray-400 m-2 p-2 gap-1.5 overflow-hidden">
        <div *ngFor="let subject of subjects" class="flex flex-row w-fit row rounded-2xl bg-amber-100 m-2 p-2 gap-1.5 items-center">
          {{ subject.name }} ({{ subject.average }}%)
          <button *ngIf="!isEdit" type="button" (click)="removeSubject(subject.name)">
            <i class="bx bx-x cursor-pointer hover:bg-amber-400 rounded-full"></i>
          </button>
          <button *ngIf="isEdit" type="button" (click)="editSubject(subject)">
            <i class="bx bx-pen cursor-pointer hover:bg-green-400 rounded-full"></i>
          </button>
        </div>
      </div>

   </div>

  <!-- Start Date -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations.startDateLabel }}</label>
    <input type="date" formControlName="start_date" class="bg-gray-200 h-8 p-2 rounded cursor-pointer" />
    <div *ngIf="form.get('start_date')?.invalid && form.get('start_date')?.touched" class="text-red-500 text-sm">
      {{ translations.errors.required }}
    </div>
  </div>

  <!-- Completion Date -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations.completionDateLabel }}</label>
    <input type="date" formControlName="completion_date" class="bg-gray-200 h-8 p-2 rounded cursor-pointer" />
    <div *ngIf="form.get('completion_date')?.invalid && form.get('completion_date')?.touched" class="text-red-500 text-sm">
      {{ translations.errors.required }}
    </div>
  </div>

  <!-- Academic Average
  <div class="flex flex-col">
    <label class="font-medium">{{ translations.academicAverageLabel }}</label>
    <input type="range" formControlName="average" min="0" max="100" class="bg-gray-200 h-2 rounded-full cursor-pointer" />
    <span class="text-sm text-gray-600 mt-1">{{ form.get('average')?.value }}%</span>
    <div *ngIf="form.get('average')?.invalid && form.get('average')?.touched" class="text-red-500 text-sm">
      {{ translations.errors.required }}
    </div>
  </div> -->

  <!-- Submit Button -->
<div class="flex flex-col justify-center">
  <button
    type="submit"
    class="bg-amber-500 hover:bg-amber-400 text-white px-6 py-2 rounded cursor-pointer"
  >
    <span *ngIf="isLoading">{{ translations.saving }}</span>
    <span *ngIf="!isLoading">{{ translations.saveEducation }}</span>
  </button>
</div>

</form>
