<div *ngIf="openModal" class="fixed inset-0 bg-[rgba(128,128,128,0.4)] flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md mx-auto">
    <div class="flex flex-row justify-between items-center m-5">
        <h2 class="text-xl font-bold mb-4">{{ editorLabel }}</h2>
        <button (click)="onClose()" class="bg-red-500 font-extrabold rounded-full hover:bg-red-400 cursor-pointer">
            <i class="bx bx-x text-white text-lg p-2"></i>
        </button>
    </div>

    <!-- Certificate -->
    <div *ngIf="certificate">
        <app-certification-form [certificate]="certificate"></app-certification-form>
    </div>

    <!-- Experience -->
     <div *ngIf="experience">
        <app-experience-form [experience]="experience"></app-experience-form>
     </div>

     <!-- Education -->
     <div *ngIf="education">
        <app-education-form [education]="education"></app-education-form>
     </div>

     <!-- Personal Details -->
      <div *ngIf="personalDetails">
        <app-registration-form></app-registration-form>
      </div>

  </div>
</div>
