<div class="shadow-lg  rounded bg-neutral-50">
  <div class="p-4">
    <h2 class="flex items-center font-headline text-xl font-bold font-serif">
      <i class="bx bx-wand"></i> {{ translations.voiceSearchTitle }}
    </h2>
    <p class="text-muted-foreground text-gray-500">{{ translations.voiceSearchDescription }}</p>
  </div>

  <div class="p-4 space-y-6">
    <div class="flex justify-center">
      <button *ngIf="!isRecording && !isTranscribing" type="button"
        (click)="startRecording()"
        [disabled]="isRecording"
        class="rounded-full h-20 w-20 bg-cyan-100 hover:bg-cyan-200 border-cyan-400 cursor-pointer border-2 flex items-center justify-center"
      >
        <i class="bx bx-microphone text-3xl text-cyan-400"></i>
      </button>
      <button *ngIf="isRecording" type="button"
        (click)="stopRecording()"
        [disabled]="!isRecording"
        class="rounded-full h-20 w-20 bg-cyan-100 hover:bg-cyan-200 border-cyan-400 cursor-pointer border-2 flex items-center justify-center"
      >
        <i class="bx bx-stop animate-spin text-3xl"></i>
      </button>
      <button *ngIf="isTranscribing" type="button"
        class="rounded-full h-20 w-20 bg-cyan-100 hover:bg-cyan-200 border-cyan-400 cursor-pointer border-2 flex items-center justify-center"
      >
        <i class="bx bx-loader animate-spin text-3xl"></i>
      </button>
    </div>

    <div *ngIf="transcription || translation || error" class="space-y-4 rounded-lg border border-gray-400 bg-neutral-100 p-4">
      <p *ngIf="error" class="text-center text-destructive">{{ error }}</p>

      <div *ngIf="!error">
        <h4 class="font-semibold text-sm mb-1 text-muted-foreground">{{ translations.youSaidSepedi }}</h4>
        <p class="text-lg font-mono p-2 bg-cyan-100 rounded-md">{{ transcription || '...' }}</p>

        <h4 class="font-semibold text-sm mb-1 text-muted-foreground flex items-center gap-2">
          {{ translations.weUnderstoodEnglish }}
        </h4>
        <p class="text-lg font-mono p-2 bg-cyan-100 rounded-md">{{ translation || '...' }}</p>
      </div>
    </div>
  </div>
</div>

