<form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()" class="bg-neutral-100 rounded-lg border border-gray-500 p-5 m-3.5 space-y-4">

  <!-- Full Names -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.fullNames }}</label>
    <input type="text" formControlName="fullNames" class="bg-gray-200 h-8 p-2 rounded" />
    <div *ngIf="personalDetailsForm.get('fullNames')?.errors && (personalDetailsForm.get('fullNames')?.touched || !isValidated)" class="text-red-500 text-sm">
      <span *ngIf="personalDetailsForm.get('fullNames')?.errors?.['required']">
        {{ translations[currentLang]?.errors?.fullNamesRequired }}
      </span>
      <span *ngIf="personalDetailsForm.get('fullNames')?.errors?.['pattern']">
        {{ translations[currentLang]?.errors?.fullNamesPattern }}
      </span>
    </div>
  </div>

  <!-- Email -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.email }}</label>
    <input type="email" formControlName="email" class="bg-gray-200 h-8 p-2 rounded" />
    <div *ngIf="personalDetailsForm.get('email')?.errors && (personalDetailsForm.get('email')?.touched || !isValidated)" class="text-red-500 text-sm">
      <span *ngIf="personalDetailsForm.get('email')?.errors?.['required']">
        {{ translations[currentLang]?.errors?.emailRequired }}
      </span>
      <span *ngIf="personalDetailsForm.get('email')?.errors?.['email']">
        {{ translations[currentLang]?.errors?.emailInvalid }}
      </span>
    </div>
  </div>

  <!-- Password -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.password }}</label>
    <input type="password" formControlName="password" class="h-8 bg-gray-200 rounded-sm p-2"/>
    <div *ngIf="personalDetailsForm.get('password')?.errors?.['required'] && personalDetailsForm.get('password')?.touched" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.passwordRequired }}
    </div>
    <div *ngIf="personalDetailsForm.get('password')?.errors?.['pattern'] && personalDetailsForm.get('password')?.touched" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.passwordPattern }}
    </div>
  </div>

  <!-- Confirm Password -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.confirmPassword }}</label>
    <input type="password" formControlName="confirmPassword" class="h-8 bg-gray-200 rounded-sm p-2"/>
    <div *ngIf="personalDetailsForm.hasError('mismatch') && personalDetailsForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.passwordMismatch }}
    </div>
    <div *ngIf="personalDetailsForm.get('confirmPassword')?.errors?.['required'] && personalDetailsForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.confirmPasswordRequired }}
    </div>
  </div>

  <!-- Contact Details -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.contactDetails }}</label>
    <div formGroupName="contact" class="flex gap-3.5">
      <select formControlName="countryCode" class="bg-gray-200 px-1.5 rounded h-8 cursor-pointer w-1/3">
        <option value="+27">+27</option>
        <option value="+263">+263</option>
        <option value="+234">+234</option>
      </select>
      <div class="flex flex-col">
        <input type="tel" formControlName="phone" class="bg-gray-200 h-8 p-2 rounded w-2/3" [placeholder]="translations[currentLang]?.phonePlaceholder" />
        <div *ngIf="personalDetailsForm.get('contact.phone')?.errors && (personalDetailsForm.get('contact.phone')?.touched || !isValidated)" class="text-red-500 text-sm">
          <span *ngIf="personalDetailsForm.get('contact.phone')?.errors?.['required']">
            {{ translations[currentLang]?.errors?.phoneRequired }}
          </span>
          <span *ngIf="personalDetailsForm.get('contact.phone')?.errors?.['pattern']">
            {{ translations[currentLang]?.errors?.phonePattern }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Date of Birth -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.dob }}</label>
    <input type="date" formControlName="date_of_birth" class="bg-gray-200 h-8 p-2 rounded cursor-pointer" />
    <div *ngIf="personalDetailsForm.get('date_of_birth')?.invalid && (personalDetailsForm.get('date_of_birth')?.touched || !isValidated)" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.dobRequired }}
    </div>
  </div>

  <!-- Sex -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.sex }}</label>
    <select formControlName="sex" class="bg-gray-200 h-8 px-2 rounded cursor-pointer">
      <option value="">{{ translations[currentLang]?.select }}</option>
      <option value="male">{{ translations[currentLang]?.male }}</option>
      <option value="female">{{ translations[currentLang]?.female }}</option>
    </select>
    <div *ngIf="personalDetailsForm.get('sex')?.invalid && (personalDetailsForm.get('sex')?.touched || !isValidated)" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.sexRequired }}
    </div>
  </div>

  <!-- Ethnicity -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.ethnicity }}</label>
    <select formControlName="ethnicity" class="bg-gray-200 h-8 px-2 rounded cursor-pointer">
      <option value="">{{ translations[currentLang]?.select }}</option>
      <option value="African">{{ translations[currentLang]?.african }}</option>
      <option value="White">{{ translations[currentLang]?.white }}</option>
      <option value="Coloured">{{ translations[currentLang]?.coloured }}</option>
      <option value="Indian">{{ translations[currentLang]?.indian }}</option>
    </select>
    <div *ngIf="personalDetailsForm.get('ethnicity')?.invalid && (personalDetailsForm.get('ethnicity')?.touched || !isValidated)" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.ethnicityRequired }}
    </div>
  </div>

  <!-- Home Language -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.homeLanguage }}</label>
    <select formControlName="homeLanguage" class="bg-gray-200 h-8 px-2 rounded cursor-pointer">
      <option value="">{{ translations[currentLang]?.select }}</option>
      <option value="Sepedi">{{ translations[currentLang]?.sepedi }}</option>
      <option value="Xitsonga">{{ translations[currentLang]?.xitsonga }}</option>
      <option value="Tshivenda">{{ translations[currentLang]?.tshivenda }}</option>
    </select>
    <div *ngIf="personalDetailsForm.get('homeLanguage')?.invalid && (personalDetailsForm.get('homeLanguage')?.touched || !isValidated)" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.homeLanguageRequired }}
    </div>
  </div>

  <!-- Current Location -->
  <div class="flex flex-col">
    <label class="font-medium">{{ translations[currentLang]?.location }}</label>
    <input type="text" formControlName="location" class="bg-gray-200 h-8 p-2 rounded" />
    <div *ngIf="personalDetailsForm.get('location')?.invalid && (personalDetailsForm.get('location')?.touched || !isValidated)" class="text-red-500 text-sm">
      {{ translations[currentLang]?.errors?.locationRequired }}
    </div>
  </div>

  <!-- Driver's License -->
  <div class="flex items-center">
    <input type="checkbox" formControlName="hasLicense" class="cursor-pointer" />
    <label class="px-2 font-medium">{{ translations[currentLang]?.hasLicense }}</label>
  </div>

  <!-- Disability -->
  <div class="flex flex-col">
    <div class="flex items-center">
      <input type="checkbox" formControlName="hasDisability" class="cursor-pointer" />
      <label class="px-2 font-medium">{{ translations[currentLang]?.hasDisability }}</label>
    </div>
    <div *ngIf="showDisabilityDetails" class="flex flex-col">
      <input type="text" formControlName="disabilityDetails" [placeholder]="translations[currentLang]?.disabilityPlaceholder" class="bg-gray-200 h-8 p-2 rounded mt-2" />
      <div *ngIf="personalDetailsForm.get('disabilityDetails')?.invalid && (personalDetailsForm.get('disabilityDetails')?.touched || !isValidated)" class="text-red-500 text-sm">
        {{ translations[currentLang]?.errors?.disabilityRequired }}
      </div>
    </div>
  </div>

  <!-- Submit -->
  <div class="flex flex-col justify-center">
    <button type="submit" class="bg-amber-500 hover:bg-amber-400 text-white px-4 py-2 rounded cursor-pointer transition">
      <span *ngIf="isLoading">{{ translations[currentLang]?.posting }}</span>
      <span *ngIf="!isLoading">{{ translations[currentLang]?.submit }}</span>
    </button>
  </div>

</form>